@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	<form id="form">
		<div class="form-group">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="email">Email address</label>
					<input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
					<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
				</div>
				<div class="form-group col-md-3">
					<label for="foodMenu">Chosen Menu</label>
					<select id="foodMenu" class="form-control form-control-sm">
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="beerMenu">Chosen Beer</label>
					<select id="beerMenu" class="form-control form-control-sm">
					</select>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="numberOfGuests">Guests</label>
					<input class="form-control form-control-sm" type="number" id="numberOfGuests" name="orderDate">
				</div>
				<div class="form-group col-md-3">
					<label for="orderDate">Date</label>
					<input class="form-control form-control-sm" type="date" id="orderDate" name="orderDate">
				</div>
				<div class="form-group col-md-3">
					<label for="hour">Hour</label>
					<select id="hour" class="form-control form-control-sm">
						@for (int i = 16; i <= 22; i++)
						{
							<option>@i</option>
						}
					</select>
				</div>
				<div class="form-group col-md-3">
					<label for="minute">Minute</label>
					<select id="minute" class="form-control form-control-sm">
						@for (int i = 0; i < 60; i += 15)
						{
							<option>@i</option>
						}
					</select>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modalBody">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
